{% extends 'pages/layout.html' %}

{% block content %}
<img src="/static/images/about-banner.jpg" alt="About Us" class="about-banner-img">
<h1 class="page-title">Elevating Your Home, in Your Style</h1>

<p class="page-desc">
Inspiration can come from anywhere, and your personal taste continues to evolve, just like you.
</p>
<p class="page-desc">
We believe in creating a unique experience for all our customers, whether in terms of meticulously crafted furniture, modular services or our home décor curation - our aim is to add your unique style to your home.
</p>

<div class="stats-row">

    <div class="stat-box">
        <h2>19</h2>
        <p>Stores</p>
    </div>

    <div class="stat-box">
        <h2>17</h2>
        <p>Cities</p>
    </div>

    <div class="stat-box">
        <h2>4 Lakh+</h2>
        <p>Sq. Ft. Retail Space</p>
    </div>

</div>

<div class="stats-row">

    <div class="stat-box">
        <h2>15 Mn+</h2>
        <p>Customers</p>
    </div>

    <div class="stat-box">
        <h2>400+</h2>
        <p>Employees</p>
    </div>

</div>

{% endblock %}
