{% extends 'pages/layout.html' %}

{% block content %}

<!-- BANNER -->
<div class="about-banner">
    <img src="/static/images/what-we-do-banner.jpg" alt="What we do">
</div>

<div class="about-content">
    <h1>What we do</h1>

    <p>
        Discover a world of exquisitely crafted furniture and curated home decor at HomeTown . From elegant designs to trusted durability, we offer personalized solutions to turn your house into a home.
    </p>

    <p>
        From minimalistic styles to plush elegance, our product assortment consists of all the three pillars - functionality, style, and uniqueness. Our collection includes Furniture, Home Décor, Modular Kitchens and Home Interior services for an end-to-end solution for all your home requirements.
    </p>
</div>

<!-- CARDS -->
<div class="whatwedo-grid">

    <div class="wd-card">
        <img src="/static/images/furniture.jpg">
        <h3>Furniture</h3>
        <p>
            Perfect blend of design and function with furniture that suits every customer’s individual taste and needs. Whatever the style—modern, rustic or traditional, at Hometown we have a product for everyone..
        </p>
    </div>

    <div class="wd-card">
        <img src="/static/images/homeware.jpg">
        <h3>Homeware</h3>
        <p>
            Inspired from the global trends to suit your taste and best reflect your mood at home. Be it creating a perfect dinner table with our eclectic styles or add a spotlight to your dining room with our homeware products, we have it all.
        </p>
    </div>

    <div class="wd-card">
        <img src="/static/images/home-decor.jpg">
        <h3>Home Décor</h3>
        <p>
            From modern to minimalistic, set up your home with styles that are as unique as you. Whether it’s about setting up a bohemiancorner or adding that edge to your console table, we are all set to inspire!
        </p>
    </div>

    <div class="wd-card">
        <img src="/static/images/home-interiors.jpg">
        <h3>Home Interiors</h3>
        <p>
          Perfect interiors for your personal haven – your home. Designed by our interior design experts and delivered through rigorous quality checks and transparent prices.
        </p>
    </div>

    <div class="wd-card">
        <img src="/static/images/kids-room.jpg">
        <h3>Kid's Room</h3>
        <p>
            Explore the world of Smartsters, where design meets child development. Create an imaginative and creative space for your child with our range of products.
        </p>
    </div>

    <div class="wd-card">
        <img src="/static/images/modular-kitchen.jpg">
        <h3>Modular Kitchen</h3>
        <p>
            Aesthetic yet functional, consult our interior designers and make your kitchen inspiration come to life with our team.
        </p>
    </div>

</div>

{% endblock %}
