{% extends 'pages/layout.html' %}

{% block content %}

<!-- BANNER IMAGE -->
<div class="about-banner">
    <img src="/static/images/banner.jpg" alt="FurnDecor Bedroom">
</div>

<div class="about-content">

    <h1>Who We Are</h1>

    <p>
        Setting down roots in 2007, <strong>FurnDecor</strong>, a part of Praxis Home Retail, is India's leading omni-channel brand known for its iconic furniture, stylish home décor, and a wide range furnishings, and modular services to customers across India.
    </p>

    <p>
       With an unwavering commitment to quality and convenience, HomeTown offers complete interior solutions - from modular kitchens and wardrobes to expert consultation services that help bring your vision to life. Whether you’re furnishing a new space or giving your home a stylish upgrade, our curated collections and tailored services ensure a seamless, hassle-free experience.
    </p>

</div>

{% endblock %}
