/* BLOGS PAGE STYLESHEET */
/*blog_list CSS*/

body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

.blogs-container {
    width: 90%;
    margin: 50px auto;
}

.page-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
}

/* GRID */
.blogs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* CARD */
.blog-card {
    border-radius: 14px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-6px);
}

/* IMAGE */
.blog-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

/* CONTENT */
.blog-content {
    padding: 20px;
}

.blog-content h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.blog-content h2 a {
    text-decoration: none;
    color: #111;
}

.blog-content h2 a:hover {
    color: #f58220; /* HomeTown orange */
}

.author {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.desc {
    font-size: 15px;
    color: #555;
    line-height: 1.6;
}

/*blog_detail css*/


body {
    font-family: Arial, sans-serif;
    background: #fff;
}

.detail-container {
    width: 72%;
    margin: 60px auto;
}

/* Title */
.detail-container h1 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Meta */
.meta {
    font-size: 15px;
    color: #777;
    margin-bottom: 35px;
}

/* Main image */
.detail-img {
    width: 100%;
    border-radius: 16px;
    margin: 30px 0 45px;
}

/* Paragraph */
.content p {
    font-size: 17px;
    line-height: 1.9;
    color: #343333;
    margin-bottom: 28px;
}

/* SECTION HEADING */
.content h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 55px 0 18px;
    color: #111;
}
/* Bold text inside content */
.content b,
.content strong {
    font-weight: 700;
}
