body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
}

.checkout-container {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    gap: 40px;
}

.checkout-left {
    flex: 2;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

.checkout-right {
    flex: 1;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    height: fit-content;
}

h2 {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    height: 80px;
    resize: none;
}

.row {
    display: flex;
    gap: 10px;
}

.payment-options label {
    display: flex;
    align-items: center;   /* vertical center */
    gap: 12px;
    margin-bottom: 18px;
    cursor: pointer;
    font-size: 16px;
}

.payment-options input[type="radio"] {
    accent-color: #d9534f;
    width: 18px;
    height: 18px;
    margin: 0;              /* remove default margin */
    position: relative;
    top: 1px;               /* tiny adjustment for perfect alignment */
}


.pay-btn {
    width: 100%;
    padding: 14px;
    background: #d9534f;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.pay-btn:hover {
    background: #c9302c;
}

.product-box {
    display: flex;
    gap: 15px;
    align-items: center;
}

.product-box img {
    width: 80px;
    border-radius: 8px;
}

.product-name {
    font-weight: bold;
}

.price-summary p,
.price-summary h3 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
