/*---------------About Page CSS---------------*/
.page-wrapper {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #fff;
  border-right: 1px solid #eee;
  padding: 30px;
}

.brand {
  color: #f27b32;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
  font-family: sans-serif;

}

.sidebar ul li a {
  display: block;
  margin-bottom: 18px;
  text-decoration: none;
  color: #444;
  font-size: 16px;
}

.sidebar ul li a:hover {
  color: #f27b32;
}

.sidebar-footer {
  margin-top: 40px;
  font-size: 13px;
  color: #777;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 50px;
}

.page-title {
  font-size: 34px;
  font-family:sans-serif;
  color:#393636;
  margin-bottom: 20px;
}

.page-desc {
  font-size: 18px;
  font-family:sans-serif;
  max-width: 900px;
  margin-bottom: 40px;
  color:#898181;
}

/* STATS */
.stats-row {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

.stat-box {
  background: #f8f8f8;
  padding: 30px;
  width: 260px;
  border-radius: 6px;
  text-align: center;
}

.stat-box:hover{
    background-color: #f58e4e;
}

.stat-box h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

/*---------------who_we_are Page CSS---------------*/

/* ABOUT PAGE */

.about-banner img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 40px;
}

.about-content {
  max-width: 900px;
}

.about-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
  font-weight: 400;
  font-family: Berlin Sans FB;
}

.about-content p {
  font-size: 17px;
  font-family: sans-serif;
  line-height: 1.8;
  margin-bottom: 18px;
  color: #555;
}

/* WHAT WE DO GRID */

.whatwedo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 50px;
}

.wd-card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 15px;
}

.wd-card h3 {
  font-size: 26px;
  font-weight: 200;
  font-family: Berlin Sans FB;
  margin-bottom: 10px;
  color: #444;
}

.wd-card p {
  font-size: 18px;
  line-height: 1.7;
  color: #555;
}

/* CONTACT PAGE */

.contact-info {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 60px;
  margin: 40px 0;
}

.contact-info h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 400;
  font-family: Berlin Sans FB;
}

.contact-info p {
  font-size: 18px;
  line-height: 1.7;
  color: #555;
  font-family: Berlin Sans FB;
  font-weight: 300;
}


/* FORM */

.contact-form {
  margin-top: 40px;
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: Berlin Sans FB;
  font-weight: 300;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  margin-top: 30px;
  padding: 12px 40px;
  background: #f27b32;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/*sitemap css*/
.sitemap-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.sitemap-title {
  text-align: center;
  font-size: 45px;
  font-family: centuray gothic;
  font-weight: 400;
  margin-bottom: 40px;
}

.sitemap-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.sitemap-col h3 {
  font-size: 21px;
  font-family: Calibri;
  margin-bottom: 10px;
  font-weight: bold;
}

.sitemap-col ul {
  list-style: none;
  padding: 0;
  font-size: 19px;
}

.sitemap-col ul li {
  margin-bottom: 6px;
}

.sitemap-col ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-family: century gothic;
}

.sitemap-col ul li a:hover {
  color: #e46b2e;
}

.footer-logo img {
  width: 200px;
}

/* POLICY PAGES */

.policy-container {
  max-width: 900px;
  padding: 40px 20px;
}

.policy-container h1 {
  font-size: 36px;
  font-family: century gothic;
  margin-bottom: 20px;
  margin-left:200px;
}

.policy-intro {
  font-size: 17px;
  color: #555;
  margin-bottom: 35px;
  line-height: 1.8;
}

.policy-container h2 {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #222;
}

.policy-container p {
  font-size: 16px;
  font-family: century gothic;
  line-height: 1.8;
  color: #444;
}

/*Warranty-policy css*/

.policy-container {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

.policy-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.policy-container h2 {
  margin-top: 30px;
  font-size: 22px;
  color: #131212;
}

.policy-container p,
.policy-container li {
  font-size: 18px;
  line-height: 1.7;
  color: #4e4a4a;
}

/* FAQ PAGE */
.faq-container {
  max-width: 1400px;
  margin: auto;
  padding: 50px 20px;
}

.faq-title {
  text-align: center;
  font-size: 40px;
  font-family: century gothic;
  margin-bottom: 40px;
}

.faq-section {
  font-size: 25px;
  font-family: century gothic;
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 18px;
  font-family: century gothic;
  font-weight: bold;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-answer p {
  margin-top: 10px;
  font-size: 17px;
  font-family: century gothic;
  line-height: 1.6;
  color: #555;
}

.faq-question ,
.faq-answer p:hover{
  cursor : pointer;
}

.faq-answer.open {
  max-height: 200px;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 20px;
}

.arrow.rotate {
  transform: rotate(180deg);
}

/* STORE LOCATOR */

.store-locator-container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

.page-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

.page-subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}

.city-block {
    margin-bottom: 50px;
}

.city-name {
    font-size: 26px;
    color: #e46b2e;
    margin-bottom: 20px;
}

.store-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.store-card {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    transition: 0.3s ease;
}

.store-card:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transform: translateY(-4px);
}

.store-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.store-card p {
    font-size: 14px;
    color: #444;
    line-height: 1.6;
}
